<div id="gymlabel">
    Viva Gym
</div>
<div id="gymbase">
    <div id="gymbaseleft">
        <app-sports-list></app-sports-list>
    </div>
    <div id="gymbaseright">
        <p id="titlemap"> Donde encontrarnos? </p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1537.7370211696539!2d-0.5178263487904149!3d39.57146546283157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd605d191781f40f%3A0x58540efb98943cc5!2sVivaGym!5e0!3m2!1ses!2ses!4v1740650496546!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
</div>
