<div id="formcontainer">
  <p>Bienvenidos a nuestro gimnasio.</p>
  <form >
    <div class="form-group">
        <label for="email">Indícanos tu correo</label>
        <input formControlName="email" type="text" placeholder="vivagym@uv.es" class="form-input">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input formControlName="name" type="name" placeholder="Pau" class="form-input">
    </div>
    <div class="form-group">
      <label>Apellidos</label>
      <input formControlName="surname" type="surname" placeholder="Aguilar Silvestre" class="form-input">
  </div>
  <div class="form-group">
    <label>Telefono</label>
    <input formControlName="phone" type="phone" placeholder="666*****6" class="form-input">
</div>
<div class="form-group">
  <label>Contraseña</label>
  <input formControlName="password" type="password" placeholder="*****" class="form-input">
</div>
    <div class="form-steps">
        <a class="link" href="">¿Se te ha olvidado la contraseña?</a>
    </div>
    <div class="form-action">
        <button>Registrarse</button>
    </div>
  </form>
</div>

