
<div class="principal">

  <img src="./img/pizza.jpg" alt=" " (click)="irAPagina('/pizza')">
  <img src="./img/blackjack.jpg" alt="" (click)="irAPagina('/blackjack')">
  <img src="./img/statics.jpg" alt=" " (click)="irAPagina('/statics')">
  <img src="./img/cine.jpg" alt=" " (click)="irAPagina('/cinema')">
  <img src="./img/deporte.jpg" alt=" " (click)="irAPagina('/sports')">
  <img src="./img/fruta.jpg" alt=" " (click)="irAPagina('/fruitshop')">
  <img src="./img/arcade.jpg" alt=" " (click)="irAPagina('/arcade')">
  <img src="./img/barber.jpg" alt=" " (click)="irAPagina('/music')">

</div>
