html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }/* You can add global styles to this file, and also import other style files */



body{
    background-color: rgb(212, 212, 185);
    height: 100%;
    width: 100%;

}

h1 {
    color: black;
    width: 100%;
    text-align: center;      /* Centra el texto */
    font-size: 4em;          /* Tamaño de fuente razonable (ajustable) */
    margin: 20px 0;          /* Margen superior e inferior para separar del resto */
    padding: 20px 0;
    padding-bottom: 20px;
    font-family: 'DM Serif Text', serif;
    text-decoration: underline;
}

.btn{
    margin: 15px;
}

.btn-primary{
    background-color: blue;
}

.btn :disabled{
    background-color: rgb(223, 249, 249);
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}

.principal {
    background-color: rgb(212, 212, 185);
    padding-left: 2vw;
    padding-right: 2vw;

    height: 100%;
    width: 100%;
}

/* Media query para pantallas con un ancho máximo de 350px */
@media (max-width: 350px) {
    .principal {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

/* Media query para pantallas con un ancho máximo de 250px */
@media (max-width: 300px) {
    .principal {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

/* Media query para pantallas con un ancho máximo de 250px */
@media (max-width: 280px) {
    .principal {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}
@media (max-width: 250px) {
    .principal {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media (max-width: 150px) {
    .principal {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}






