/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(212, 212, 185);
    height: 100%;
    width: auto;

}

h1 {
    color: black;
    width: 100%;
    text-align: center;      /* Centra el texto */
    font-size: 4em;          /* Tamaño de fuente razonable (ajustable) */
    margin: 20px 0;          /* Margen superior e inferior para separar del resto */
    padding: 20px 0;
    padding-bottom: 20px;
    font-family: 'DM Serif Text', serif;
    text-decoration: underline;
}

.btn{
    margin: 15px;
}

.btn-primary{
    background-color: blue;
}

.btn :disabled{
    background-color: rgb(223, 249, 249);
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}





