.three-container {
  width: 100%;
  height: 80vh; // Puedes usar vh o % si es relativo a un contenedor padre
  position: relative;
  overflow: hidden;
}

canvas {
  width: 100%;  /* El canvas ocupará el 100% del tamaño del contenedor */
  height: 100%;
}