div{
    //background-color: rgb(220, 220, 210);
    
}

h1 {
    color: black;
    width: 100%;
    text-align: center;      /* Centra el texto */
    font-size: 4em;          /* Tamaño de fuente razonable (ajustable) */
    margin: 20px 0;          /* Margen superior e inferior para separar del resto */
    padding: 20px 0;  
    padding-bottom: 20px;
    font-family: 'DM Serif Text', serif;  
    text-decoration: underline;
}
